*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

.nav-link{
    font-size: 20px;
    margin: 25px;
}

.navItems{
    padding: 0px 0px 0px 0px;
}

.bg-purple{
    background-color: rgb(72, 0, 155);
}

.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid #ffff
}

.navbar-brand{
    font-family:  Helvetica;

}





