*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
}

.nav-link{
    font-size: 20px;
    margin: 25px;
}

.navItems{
    padding: 0px 0px 0px 0px;
}

.bg-purple{
    background-color: rgb(72, 0, 155);
}

.nav-link:hover{
    font-weight: 600;
    border-bottom: 1px solid #ffff
}

.navbar-brand{
    font-family:  Helvetica;

}

.menu-bar .navbar-toggler {
    padding-right: 20px;
    outline: none!important;
    border: none!important;
}

div.dropdown-menu.show{
    position: relative;
    right: 0;
    text-align: end;
}

@media only screen and (max-width: 1000px){
    div.dropdown-menu.show{
        margin: 20px;
        text-align: start;
    }
}

